@charset: "UTF-8"

#wrapper
  width: 900px
  margin: 0px auto
  padding: 10px
  background-color: #eee
nav ul
  display: flex
  
#works
  display: flex
  justify-content: space-around
  >*
    width: 33.33%
    section.work-card
      position: relative
      background-color: #fff
      border-radius: 10px
      margin: 20px 10px
      overflow: hidden
      img
        filter: brightness(.7)
        width: 100%
        transition: all .3s ease
        &:hover
          filter: brightness(1)
          &+h3
            bottom: 0px
        
      h3
        position: absolute
        bottom: -100px
        width: 100%
        padding-left: 10px
        font-size: .8em
        line-height: 3em
        font-weight: normal
        color: #333
        background-color: rgba(200,200,200,.9)
        transition: bottom .5s ease
