@charset "UTF-8"

@import "components/common.sass"
@import "components/nav.sass"
@import "components/footer.sass"

body
  background-color: hsla(193, 14%, 92%, 0.9)

#wrapper
  overflow: hidden
  background-image: url(../img/cover_left3-compressor.jpg)
  background-size: auto 120%
  background-position: right
  background-repeat: no-repeat
  background-attachment: fixed
#content-wrapper
  background-color: hsla(193, 14%, 92%, 0.9)
  h2
    font-size: 2em
header
  height: 80vh
  position: relative
  .hero_img
    display: block
    margin: 0 auto
    max-height: 100%
  .profile
    position: absolute
    bottom: 9px
    padding: 4px
    left: 0
    right: 67px
    font-size: 0.95em
    font-weight: bold
    text-align: right
    margin: 0 10px
    width: 380px
    transform: rotate(0deg)
    color: hsla(192, 49%, 10%, 1)
    p
      width: 100%
      .profile_text
        background-color: rgba(163, 193, 201, .7)
        line-height: 1.1em

#greeting
  line-height: 4em

.nav-index
  padding-top: 40px
  margin-top: -40px
#works
  h2
    line-height: 1em
    padding-left: 15px

#cards
  section.work-card
    width: calc(100%/3 - 1.5%*2)
    position: relative
    background-color: #d9edf2
    margin: 1.5%
    overflow: hidden
    box-shadow: 1px 1px 5px 2px #777
    transition: .7s all 0s ease
    img
      display: block
      filter: brightness(.65)
      width: 100%
      transition: all .3s ease
      &:hover
        filter: brightness(1)
        &+h3
          top: 0px
      
    h3
      position: absolute
      top: -100px
      width: 100%
      padding-left: 10px
      font-size: .8em
      line-height: 3em
      font-weight: bold
      color: #000
      background-color: rgba(200,200,200,.9)
      transition: top .5s ease

.info-sect
  min-height: 100vh
  background-color: rgba(255,255,255,.5)
  margin: 10px 0px
  padding: 15px
  line-height: 2em
  opacity: 0
  transition: .7s all 0s ease
  p
    text-align: right
    line-height: 3.5em
  iframe
    width: 100%
    height: 934px
    .freebirdAccentBackground
      background-color: transparent

.sns-links
  text-align: center
  background-color: rgba(255, 255, 255, 0.5)
  width: 50%
  margin: 20px auto
  line-height: 2em
  display: flex
  justify-content: space-around
  box-sizing: border-box
  padding: 20px 0px
  .sns-icon
    display: block

@media screen and (min-width: 1024px)
  #wrapper
    background-position: center
  
@media screen and (max-width: 768px)

  #cards
    section.work-card
      width: calc(100%/2 - 1.5%*2)

@media screen and (max-width: 480px)

  #wrapper
    background-image: url(../img/cover.png)
    background-position: center
    background-size: cover
  #cards
    section.work-card
      width: calc(100% - 1.5%*2)
