
<nav>
  <div id="toggle"><a href="#"><img src="img/menu.svg"></a></div>
  <ul id="menu">
    <li><a href="#top" class="nav-item">トップ</a></li>
    <li><a href="#greeting" class="nav-item">ご挨拶</a></li>
    <li><a href="#works" class="nav-item">作品</a></li>
    <li><a href="#profile" class="nav-item">プロフィール</a></li>
    <li><a href="#contact" class="nav-item">コンタクト</a></li>
  </ul>
</nav>