
<nav>
  <div id="toggle"><a href="#"><img src="img/menu.svg"></a></div>
  <ul id="menu">
    <li><a href="#top" class="nav-item bottom-bordered">トップ</a></li>
    <li><a href="#works" class="nav-item">作品</a></li>
    <li><a href="#contact" class="nav-item">コンタクト</a></li>
  </ul>
</nav>