-
  var tagNames = [ "WEBデザイン", "コーディング", "JavaScript", "Illustrator", "Photoshop", "iOSアプリ" ]
-
  var works = [
    {
      "title": "合羽橋道具街",
      "concept": "合羽橋道具街サイトのリニューアルを想定",
      "tags": [ 0, 1 ],
      "role": "デザインカンプ制作及びコーディング",
      "tools": "Adobe Illustrator, Photoshop, SublimeText3",
      "skill": "HTML5,CSS3,transition,など",
      "date": "2017年7月",
      "term": "コンセプト構想２時間、デザイン３時間、コーディング６時間",
      "detail": "既存の合羽橋道具街の公式サイトのリニューアル以来が来た想定でサイトデザインを行いました。コンテンツ外側に存在していたスポンサーバナーをヘッダー内に表示してサイト全体になじませつつ、目に付きやすくなるように工夫を行いました。",
      "images": [
        { "name": "kappabashi_now.png", "caption": "【参考】現行トップページ" },
        { "name": "kappabashi_top.png", "caption": "リニューアル案トップページ" },
        { "name": "kappabashi_search.png", "caption": "検索結果ページ" },
        { "name": "kappabashi_ssitemap.png", "caption": "サイトマップページ" }
      ],
      "url": "https://preview.c9users.io/haraken123/kappabashi/index.html",
      "isReady": true,
      "isPublic": false
    },
    {
      "title": "SAUSALITO VONITA",
      "concept": "アメリカ西海岸の家具・小物ショップを想定したWEBサイト",
      "tags": [ 0, 1 ],
      "role": "デザインカンプ制作及びコーディング",
      "tools": "Adobe Illustrator, Photoshop, SublimeText3",
      "skill": "HTML5, CSS3, リキッドレイアウト, linear-gradient",
      "date": "2017年8月",
      "term": "コンセプト構想１時間、デザイン２時間、コーディング２時間",
      "detail": "訓練校の課題にて指定された商品画像に合うようなWEBサイトを作成しました。欧米サイトのトレンドを調査して、ゆったりとした余白やWEBフォントを採用しました。",
      "images": [
        { "name": "shop_chrome.png", "caption": "ブラウザイメージ" },
        { "name": "shop.png", "caption": "デザインカンプ" },
      ],
      "url": "https://preview.c9users.io/haraken123/shop-assignment/index.html",
      "isReady": true,
      "isPublic": false
    },
    {
      "title": "２度目の浅草観光で訪れるべき１０個のスポット",
      "concept": "浅草在住の筆者によるメジャーすぎない観光スポット紹介サイト",
      "tags": [ 0, 1, 2 ],
      "role": "デザインカンプ制作及びコーディング",
      "tools": "Adobe Illustrator, Photoshop, Cloud9（クラウドエディター）",
      "skill": "HTML5, CSS3, pug, sass",
      "date": "2017年8月",
      "term": "構想１日、デザイン１日、コーディング１日、コンテンツ作成中",
      "detail": "一度浅草への観光経験のある日本人および外国人をターゲットとして、次にまた浅草へ訪れたいと思ってもらえるような少しマイナーな観光スポットを紹介しました。 ",
      "images": [
        { "name": "tokio_top.jpg", "caption": "" },
        { "name": "tokio_contents.jpg", "caption": "" },
      ],
      "isReady": true,
      "isPublic": true
    },
    {
      "title": "人生スイーツ",
      "concept": "スイーツの流行をすごろくに例えて紹介するサイト",
      "tags": [ 1, 2 ],
      "role": "コーディング",
      "tools": "Cloud9（クラウドエディター）, Bitbucket",
      "skill": "HTML5, CSS3, pug, sass, jQuery, BXSlider, fancybox3など",
      "date": "2017年9月",
      "term": "コーディング４日間",
      "detail": "４人でのグループ実習にて、レスポンシブサイト制作のコーディングを担当しました。池袋にあるナムコナンジャタウン新テーマパークのキャンペーンサイト作成依頼が来た想定で制作を行いました。",
      "images": [
        { "name": "jinseisweets_pc.png", "caption": "PC画面" },
        { "name": "jinseisweets_mobile.png", "caption": "スマホ画面" }
      ],
      "url": "https://jinseisweets.bitbucket.io",
      "isReady": true,
      "isPublic": true
    },
    {
      "title": "マレーシアの動物",
      "concept": "マレーシアに生息している特徴的な動物を紹介するサイト",
      "tags": [ 0, 1 ],
      "role": "デザインカンプ制作及びコーディング",
      "tools": "Adobe Illustrator, Photoshop, SublimeText3",
      "skill": "HTML5, CSS3, transition, filter:grascale()など",
      "date": "2017年8月",
      "term": "構想１時間、デザイン２時間、コーディング２時間、コンテンツ作成１時間",
      "detail": "ユニークな動物の情報を楽しく学べるようにマウスオーバーで動きのあるサイトととし、自然の雰囲気を出せるようにナチュラルハーモニーの配色を使用しました。jQuery学習前だったため、CSSのみでlightbox風のモーダル画像ビューアーを作成しています。",
      "images": [
        { "name": "malaysia_top.png", "caption": "" },
        { "name": "malaysia_modal.png", "caption": "" },
      ],
      "url": "https://preview.c9users.io/haraken123/malaysia/malaysian_animals.html",
      "isReady": true,
      "isPublic": false
    },
    {
      "title": "目黒の秋刀魚",
      "concept": "和風のデザインを意識した落語紹介サイト",
      "tags": [ 0 ],
      "role": "デザインカンプ制作",
      "tools": "Adobe Illustrator, Photoshop",
      "date": "2017年6月",
      "term": "構想１時間、デザイン３時間",
      "detail": "一番最初に制作したデザインカンプ。紙芝居のように背景画像と文章が同時に動くパララックスサイトを想定しています。",
      "images": [
        { "name": "rakugo.jpg", "caption": "" },
      ],
      "isReady": false,
      "isPublic": false
    },
    {
      "title": "ハラシマケン ポートフォリオ",
      "concept": "自身の作品を紹介するポートフォリオ",
      "tags": [ 0, 1, 2 ],
      "role": "デザインカンプ制作及びコーディング",
      "tools": "Adobe Illustrator, Photoshop, SublimeText3",
      "skill": "HTML5, CSS3, jQuery, gulp, sass, pug, autoprefixeなど",
      "date": "2017年9月～10月",
      "term": "1ヶ月間",
      "detail": "只今ご覧いただいているポートフォリオ（紙面及びWebサイト）です。カバー及びTOPページには自分らしさを、作品詳細ページは読みやすさを第一に考えデザインを行いました。CSSメディアクエリのプリント指定を用いて、A3印刷時に最適化されるレイアウトとなっています。",
      "images": [
        { "name": "cover.png", "caption": "カバーページ" },
        { "name": "portfolio_web.png", "caption": "作品詳細（WEB）" },
        { "name": "portfolio_paper.png", "caption": "作品詳細（印刷）" },
      ],
      "url": "https://haraken123.github.io",
      "isReady": true,
      "isPublic": true
    },
    {
      "title": "パイレーツオブカリビアン予告バナー",
      "concept": "夏公開映画の広告バナーを想定",
      "tags": [ 4 ],
      "role": "デザイン及びモーション作成",
      "tools": "Adobe Photoshop",
      "date": "2017年6月",
      "term": "構想１時間、制作３時間",
      "detail": "Photoshopのフレームアニメーション機能を使用して、アニメーションGIFのWEBバナーを作成しました。映画の持つ格好良い雰囲気をそのまま出せるように意識をしました。",
      "images": [
        { "name": "pirates1.png", "caption": "" },
        { "name": "pirates2.png", "caption": "" },
        { "name": "pirates3.png", "caption": "" },
        { "name": "pirates4.png", "caption": "" },
      ],
      "isReady": true,
      "isPublic": false
    },
    {
      "title": "白くまアイスキャンペーンバナー",
      "concept": "アイスキャンディーのキャンペーンバナーを想定",
      "tags": [ 4 ],
      "role": "デザイン及びモーション作成",
      "tools": "Adobe Photoshop",
      "date": "2017年6月",
      "term": "構想１時間、制作３時間",
      "detail": "Photoshopのフレームアニメーション機能を使用して、アニメーションGIFのWEBバナーを作成しました。アイスの持つかわいい雰囲気を出せるように意識をしました。",
      "images": [
        { "name": "sirokuma01.png", "caption": "" },
        { "name": "sirokuma02.png", "caption": "" },
        { "name": "sirokuma03.png", "caption": "" },
        { "name": "sirokuma4.png", "caption": "" },
      ],
      "isReady": true,
      "isPublic": false
    },
    {
      "title": "ルームコラージュ",
      "concept": "部屋画像を加工",
      "tags": [ 4 ],
      "role": "写真加工",
      "tools": "Adobe Photoshop (vanishing point, オーバーレイ, パッチツール, スマートオブジェクト)",
      "date": "2017年5月",
      "term": "制作各３時間",
      "detail": "Photoshopを用いて、部屋画像の合成加工を行いました",
      "images": [
        { "name": "room.jpg", "caption": "【参考元画像】" },
        { "name": "room_alt.jpg", "caption": "ペットのいる部屋（選択とマスク、境界線を調整）" },
        { "name": "room_view.jpg", "caption": "広くて狭い部屋（Vanish Poiint、オーバーレイ）" },
        { "name": "room_in_room.jpg", "caption": "どこまでも続く部屋（スマートオブジェクト、パッチツール）" },
      ],
      "thumbnailIndex": 2,
      "isReady": true,
      "isPublic": true
    },
    {
      "title": "浮世絵トレース",
      "concept": "浮世絵をIllustratorを用いてベクター画像にトレース",
      "tags": [ 3 ],
      "role": "トレース作業",
      "tools": "Adobe Illustrator",
      "date": "2017年5月",
      "term": "１週間",
      "detail": "浮世絵をIllustratorのペンツールにてトレースを行いました。版画である浮世絵の版ごとにレイヤー分けをして色を乗せていくという制作手法を使用しました。",
      "images": [
        { "name": "ukiyoe.png", "caption": "" },
      ],
      "isReady": false,
      "isPublic": true
    },
    {
      "title": "Tシャツデザイン",
      "concept": "Illustratorを用いたオリジナルTシャツのデザイン",
      "tags": [ 3 ],
      "role": "デザイン制作",
      "tools": "Adobe Illustrator CC 2017",
      "date": "2017年4月",
      "term": "構想１時間、制作７時間",
      "detail": "タイダイ（絞り染め）風のデザインをIllustratorにて表現しました。本来であればハンドメイドであり量産化は難しいが、これなら手軽にプリントが可能。色味も簡単に変えられます。",
      "images": [
        { "name": "tshirt1.png", "caption": "" },
        { "name": "tshirt2.png", "caption": "" },
      ],
      "isReady": true,
      "isPublic": true
    },
    {
      "title": "缶ビールデザイン",
      "concept": "Illustratorを用いたオリジナル缶ビールのデザイン",
      "tags": [ 3 ],
      "role": "コンセプト発案及びデザイン制作",
      "tools": "Adobe Illustrator CC 20173 (3D効果、スタティックシンボル、グラデーション、ガウスぼかし、パターンブラシなど)",
      "date": "2017年4月",
      "term": "構想４時間、制作６時間",
      "detail": "浅草及び隅田川沿いの地域限定の地ビール。花火見物客や観光客をターゲットとして、浴衣にも合うようなカラフルな和柄を意識しました。キャッチコピー：「ビール片手に花火を見よう。」",
      "images": [
        { "name": "beer1.png", "caption": "" },
        { "name": "beer2.png", "caption": "" },
        { "name": "beer_label.png", "caption": "" },
      ],
      "thumbnailIndex": 2,
      "isReady": true,
      "isPublic": true
    },
    {
      "title": "ドミナントトーン・スクリプト",
      "concept": "オブジェクトの色を同一トーンに揃えるIllustratorスクリプト",
      "tags": [ 3, 2 ],
      "role": "UIデザイン、プログラミング",
      "tools": "Adobe Illustrator, SublimeText3",
      "skill": "JavaScript (JSX)",
      "date": "2017年4月",
      "term": "構想１時間、制作６時間",
      "detail": "オブジェクトの塗り色を、色相はそのままに明度と彩度をPCCSにて規定されている１２トーンに揃えるスクリプトを制作しました。",
      "images": [
        { "name": "script2.png", "caption": "" },
        { "name": "script1.png", "caption": "" },
        { "name": "script_code.png", "caption": "" },
      ],
      "url": "https://github.com/haraken123/DominantToneConverter",
      "isReady": true,
      "isPublic": true
    },
    {
      "title": "くらしのこよみ",
      "concept": "日本で古くから用いられてきた季節の区切り方「二十四節気」と「七十二候」に沿って更新される、暦アプリケーション",
      "tags": [ 5 ],
      "role": "機能追加・UI修正作業",
      "tools": "Objective-C, XCode, Git, Twitter API",
      "date": "2011年6月～2013年12月",
      "term": "２年半の継続アップデート",
      "detail": "iPhone及びiPad用アプリのアップデート開発に参加しました。SNS対応や購入画面などの機能追加に加え、タブバーの設置、Retina及び16:9画面対応、フラットデザイン化などのUI構築を行いました。",
      "images": [
        { "name": "koyomi_nonflat.png", "caption": "iOS6当時" },
        { "name": "koyomi_flat.jpg", "caption": "iOS7以降フラットデザイン化" },
        { "name": "koyomi_flat_ipad.jpg", "caption": "iOS7以降フラットデザイン化 (iPad)" },
      ],
      "url": "https://itunes.apple.com/jp/app/kurashinokoyomi-for-iphone/id400438030",
      "thumbnailIndex": 2,
      "isReady": true,
      "isPublic": true
    },
  ]