<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/myreset.css" />
  <link rel="stylesheet" href="css/index.css" />
  <title>ハラシマケン・ポートフォリオ</title>
</head>
<body>
  <div class="wrapper">
    include components/nav
    <header class="nav-index" id="index-top">
      <!--img class="hero_img" src="img/cover_left.png" alt=""-->
      <h1 class="mainTitle"><span class="line1">ハラシマケン</span><br><span class="line2">ポートフォリオ</span></h1>
      <div class="profile">
        <span class="profile_text">元フロントエンドエンジニア<br>現在Web/UIデザイナーを目指して勉強中です</br>Adobe(Ai,Ps,XD), HTML5, CSS3, JavaScript(jQuery,AngularJS,ES6), TOEIC, マラソン</span>
      </div>
    </header>
    <div class="content-wrapper">
      <div class="works nav-index" id="index-works">
        <h2>作品</h2>
        <div class="cards">
          include components/variables
          include components/settings
          - var i = 0
          each work in works
            if (settings.isForAuthorized || work.isPublic) && work.isReady
              <section class="work-card">
                <a href="work-detail.html#work#{++i}">
                  - var index = 0
                  if work.thumbnailIndex
                    - var index = work.thumbnailIndex
                  <img src="img/th1024/#{work.images[index].name}" alt="">
                  <h3>#{work.title}</h3>
                </a>
              </section>
        </div> <!-- .cards -->
      </div> <!-- .works -->
      <section class="info-sect nav-index" id="index-contact">
        <div class="contact-contents"></div>
          <h2>コンタクト</h2>
          <div class="sns-links">
            <a href="https://twitter.com/hara_sim/" target="_blank"><img class="sns-icon" src="img/circle-twitter-64.png" alt=""></a>
            <a href="https://github.com/haraken123/" target="_blank"><img class="sns-icon" src="img/GitHub-Mark-64px.png" alt=""></a>
          </div>
          <p>ご不明点・お仕事のご依頼などございましたら、SNSもしくは下記フォームよりご連絡ください。</p>
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScEQOX2o9lXW757XbUlUqlwbi8At3yT0HdNfDkqeetveVcfzQ/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>
        </div>
      </section> <!-- #contact -->
    </div> <!-- content-wrapper -->
    include components/footer
  </div> <!-- #wrapper -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

  <script src="js/script.js"></script>
</body>
</html>